<div class="alert alert-info">
    <div class="container">

    <div class="col-sm-6 col-sm-offset-3">
        <form action="/thanh-vien/dang-ky" method="POST" class="form-horizontal" role="form">
            <div class="form-group">
                <legend>Đăng Ký Thành Viên <span class="pull-right"><a href="/thanh-vien/dang-nhap">Tôi đã có tài khoản</a></span></legend>
            </div>
            {{#if hasErrors}}
                <div class="row">
                    <div class="alert alert-danger">
                        {{#each messages}}
                            <p>{{this}}</p>
                        {{/each}}
                    </div>
                </div>
            {{/if}}
            <div class="form-group">
                <legend>Tạo Một Hồ Sơ Mới</legend>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="firstname">Tên của bạn</label>
                        <input type="text" name="firstname" class="form-control" id="firstname" placeholder="Vui lòng nhập tên" />
                    </div>
                    <div class="col-sm-6">
                        <label for="lastname">Họ của bạn</label>
                        <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Vui lòng nhập họ" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Địa chỉ email</label>
                <input type="text" name="email" class="form-control" id="email" placeholder="Vui lòng nhập địa chỉ email" />
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Vui lòng nhập mật khẩu" />
            </div>
            <div class="form-group">
                <label for="confirmpassword">Lặp lại mật khẩu</label>
                <input type="password" name="confirmpassword" class="form-control" id="confirmpassword" placeholder="Vui lòng lặp lại mật khẩu" />
            </div>
            <div class="form-group">
                <legend>Đăng ký thư</legend>
            </div>
            <div class="form-group">
                <label for="newsletter">Bạn có muốn đăng ký email quảng cáo của chúng tôi không?</label>
                <br />
                <input type="radio" name="newsletter" value="1" checked="checked" /> Có
                <input type="radio" name="newsletter" value="0" /> Không
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label class="pull-left">
                        <input type="checkbox" name="accept" value="1" /> Tôi đã đọc và đồng ý với Điều khoản<a href="#"> Quy định và Chính sách</a>
                    </label>
                    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                    <button type="submit" class="btn btn-primary pull-right">Đăng ký</button>
                </div>
            </div>
        </form>
    </div>
    </div>
</div>