<form action="/admin/upload?_csrf={{csrfToken}}" enctype="multipart/form-data" method="post">

    <input type="file" name="file"><br>
    <input type="file" name="file1"><br>
    <!--<input type="hidden" name="_csrf" value="{{csrfToken}}" /><br>-->
    <input type="submit" value="UPLOAD">
</form>