/*==================================THEME MOVIE VESION 1==========================================*/
@font-face {
  font-family: 'UTMCafetaRegular';
  src: url("/stylesheets/utm_cafeta-webfont.eot");
  src: url('/stylesheets/utm_cafeta-webfont.eot?#iefix') format('embedded-opentype'),
  url('/stylesheets/utm_cafeta-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.fontcafe {
  font-family: 'UTMCafetaRegular';
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.428571429;
  background-color: white;
  color: #000;
}
a{
  color: #46e1ff ;
  text-decoration: none !important;
}
.col-6{
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
/*=====================================CẤU HÌNH LẠI BOOTSTRAP==========================*/
.navbar {
  border-radius: 0px !important;
  margin-bottom: 0px !important;
}
.navbar-inverse{
  background: #182434 url("/images/card_index/back_detail.png") repeat-x left -7px;
}
.form-search{
  margin: 10px;
  width: 500px;
}
.container{
  max-width: 1000px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
}
/*================================END CẤU HÌNH LẠI BOO=================================*/
/*==================================NAV OPTION===========================================*/
.option-type{
  font-weight: bold;
}
.navbar-inverse .navbar-nav>li>a {
  color: white !important;
}
.navbar-inverse .navbar-nav>li>a.login:hover{
  color: #00B7FF !important;
}
.avatar {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.use_ava{
  color: white !important;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*================================END NAV OPTION========================================*/
/*==================================MENU SECOND============================================*/
.clear {
  clear: both;
  line-height: 0;
  overflow: hidden;
  display: block;
  height: 0;
  max-height: 0;
}
* {
  margin: 0;
  padding: 0;
}
#menu ul {
  background: #080a0e;
  list-style-type: none;
  text-align: center;
}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu a:hover {
  background: #09282D;
  color: #fff;
}
/*dropdow menu*/
.sub-menu{
  display: none;
  position: absolute;
  z-index: 3;
}
#menu li{
  position: relative;
}
#menu li:hover .sub-menu{
  display: block;
  background: rgba(25,25,25,.9);
}
.sub-menu li{
  margin-left: 0 !important;
}
.sub-menu > ul{
  display: none !important;
}
ul{
  margin-bottom: 0px !important;
}
/*==================================END MENU SECOND============================================*/


/*=====================================INDEX LIST MOVIE======================================================*/
.body_Container{
  background: #192536;
}
.movie_list_index{
  max-width: 100%;
}
.movie_list_index .home_v1{
  width: 670px;
}
.title_movie{
  margin-bottom: 0;
  display: block;
  overflow: hidden;
  min-height: 60px;
}
.title_movie .title{
  float: left;
  color: #DAAD3B;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  margin-top: 8px;
  padding: 10px 10px;
  text-transform: uppercase;
  border: 1px solid #1B1B1B;
  border-radius: 7px;
}
.movie_list_index .home_v1 ul.last_film_box{
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  padding: 0;
}
.movie_list_index.home_v1 ul.last_film_box > li{
  display: inline-block !important;
  margin-right: 1%;
  margin-bottom: 10px !important;
  width: 24%;
  float: left;
}
.movie_list_index.home_v1 ul.last_film_box > li .movie_item{
  width: 100% !important;
  border: 1px solid white;
}
.movie_item.m_block{display: block}
.movie_list_index.home_v1 ul.last_film_box > li .movie_item .block_wrapper{
  position: relative;
  padding: 0;
  background: white;
  border-bottom: 1px solid white;
  color: #ddd;
  height: auto;
  display: block;
  border-radius: 2px;
}
.movie_list_index.home_v1 ul.last_film_box > li > .movie_item .movie_thumbnail{
  width: 100% !important;
}
.ratio_box{
  position: relative !important;
  height: auto !important;
}
.movie_list_index.home_v1 ul.last_film_box > li > .movie_item .movie_thumbnail .public_film_item_thumb{
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  border-bottom: 1px solid #b7b4b4;
}
.ratio_content{
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.public_film_item_thumb{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.movie_item .movie_meta{
  margin: 5px;
}
.ratio:before{
  padding-top: 133.3333% !important;
}
.ratio_box:before{
  content: "";
  display: block;
}
.movie_item .movie_meta .movie_title{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  color: #222 !important;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}
.com_left{
  position: absolute;
  color: #fff;
  background: #2940ca;
  font-size: 11px;
  font-weight: bold;
  float: left;
  clear: both;
  padding: 3px 6px;
  left: 5px;
  bottom: 30px;
  white-space: nowrap;
  display: inline-block;
  border-radius: 4px;
}
.viewed_rigth{
  position: absolute;
  color: #fff;
  background: #78dd28;
  font-size: 11px;
  font-weight: bold;
  float: right;
  clear: both;
  padding: 3px 6px;
  right: 5px;
  top: 5px;
  white-space: nowrap;
  display: inline-block;
  border-radius: 4px;
}
.ribbon{
  position: absolute;
  color: #fff;
  background: #03a9f4;
  font-size: 11px;
  font-weight: bold;
  float: left;
  clear: both;
  padding: 3px 6px;
  left: 5px;
  top: 5px;
  white-space: nowrap;
  display: inline-block;
  border-radius: 4px;
}
.page_single{
  padding: 10px;
  width: 670px;
}
/*=====================================END INDEX LIST MOVIE===================================================*/

/*=====================================VIEW DETAIL MOVIE =====================================================*/
.banner-top{
  margin-bottom: 10px;
}
ol.breadcrumb{
  max-width: 100%;
  overflow: hidden;
}
.breadcrumb {
  padding: 5px 10px;
  margin-bottom: 10px;
  list-style: none;
  background-color: #111 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
ol.breadcrumb > li {
  white-space: nowrap;
}
.breadcrumb > li {
  display: inline-block;
  text-transform: uppercase;
}
.breadcrumb > li a span{
  color: #00B7FF;
}
.breadcrumb > li a span:hover{
  color: #c9c725 !important;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #cccccc;
  content: "/\00a0";
}
.breadcrumb > .active{
  color: #78dd28 !important;
}
.page_single{
  padding: 10px;
  width: 670px;
}
.block_wrapper{
  position: relative;
  background: #161e2a;
  border-bottom: 1px solid #121213;
  color: #ddd;
  height: auto;
  display: block;
}
.movie_info .movie_title{
  margin: 0px 0px 10px 0px;
  padding: 0px;
  font-size: initial;
}
.movie_detail{
  float: right!important;}
.movie_info .movie_title .title{
  text-transform: uppercase;
  font: 26px 'UTMCafetaRegular';
  color: #3c763d;
  display: block;
  margin: 5px;
}
.movie_info .movie_meta_info{
  border-radius: 2px;
  padding: 5px 8px;
  line-height: 26px;
  border: 1px solid #121212;
  font-size: 12px;
  color: #bbb;
  background: #222;
}
.movie_info .movie-dl{
  margin: 0px;
}
.movie_info .movie_dl{
  display: inline;
}
.movie_info .movie_meta_info .imdb{
  color: #000;
  padding: 3px;
  font-size: 12px;
  font-weight: bold;
  background: #E3B71E;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.movie_info .movie_dd{
  display: inline;
  margin: 0px 10px -4px 2px;
}
.dd_cat a{
  color: #46E1FF!important;
}
.dd_cat a:hover{
  color: #fffd23 !important;
}
.dd_cat span{
  color: #46E1FF!important;
}
/*IMAGE*/
.block_movie_info .movie_l_img{
  position: relative;
}
.block_movie_info .image_thumb{
  border: 2px solid white;
  border-radius: 2px;
}
.movie_info .block_movie_info .btn_block {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 0px;
  margin: 0px;
  list-style: none;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
}
.btn-block{
  display: block;
}
.movie_info .block_movie_info .btn_block .item{
  display: inline-block;
  padding: 4px;
}
.btn_green{
  color: #ffffff;
  background-color: #78dd28;
  border-color: #78dd28;
}
a.btn_green:hover{
  color: #ffffff;
}
.btn_red{
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d9534f;
}
a.btn_red:hover {
  color: #ffffff;
}
.movie_info .movie_title{
  margin: 0px 0px 10px 0px;
  padding: 0px;
  font-size: initial;
}
.box_rating{
  position: relative;
  margin-top: 10px;
  padding: 10px;
  background: #222;
  border: 1px solid #121212;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-left: 5px;
}
.box_rating p{
  font-size: 20px;
  color: #dacb46;
}
.box_rating .num_rating{
  font-size: 12px;
  color: #ddd;
}
.block_movie_content{
  border: 1px solid #121212;
  background: #222;
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  margin-top: 5px;
}
.movie_info .movie_detail_h2{
  font-size: 14px;
  font-weight: bold;
  color: #dacb46;
  text-transform: uppercase;
  margin-top: 5px;
}
.block_movie_content .content{
  color: #bbb;
  font-size: 13px;
  font-family: arial;
  line-height: 24px;
}
/*VIEW MOVIE*/
.user_action{
  padding-top: 5px;
}
.play_actions{
  text-align: center;
}
.previous_ep_btn{
  border: 1px solid black;
  padding: 5px;
  background: #543333;
  color: white;
}
a.previous_ep_btn:hover{
  color: #78dd28;
}
.next_ep_btn{
  border: 1px solid black;
  padding: 5px;
  background: #543333;
  color: white;
}
a.next_ep_btn:hover{
  color: #78dd28;
}
.next_ep_btn{
  border: 1px solid black;
  padding: 5px;
  background: #543333;
  color: white;
}
a.next_ep_btn:hover{
  color: #78dd28;
}
/*CHAPTER NUMBER*/
.box_num{
  position: relative;
  margin-top: 10px;
  padding: 2px;
  background: #222;
  border: 1px solid #121212;
  border-radius: 2px;
  margin-left: 5px;
}
.btn_black{
  color: white;
  background: black;
}
ul.chap_num li{
  list-style-type: none;
  display: inline-block;
}
ul.chap_num li.btn:hover{
  color: white;
}
.block_comment{
  margin: 10px 0px 0px;
}
.block_wrapper2{
  position: relative;
  background: #222222;
  border-bottom: 1px solid #121213;
  color: #ddd;
  height: auto;
  display: block;
}
.block_comment h4{
  font-size: 20px;
  color: #dacb46;
}
/*==================================END VIEW DETAIL MOVIE =====================================================*/

/*================================SIBAR LEFT THE MOST VIEW MOVIE=============================================*/
.title_rank{
  max-width: 100%;
  text-align: center;
}
.header-list-index{
  color: #dacb46;
  text-shadow: 1px 1px 1px #1a1a1a;
  display: inline-block;
  font: 20px/40px 'UTMCafetaRegular';
  text-transform: uppercase;
}
.list_rank_movie{
  padding: 4px;
  border-radius: 4px;
  /*background: #363439;*/
  margin: 5px 5px 5px 5px;
}
.rank-film-list{
  border-radius: 4px;
  background: #161e2a;
  list-style: none;
  padding: 0;
  margin: 0;
}
.rank-film-list>li.item {
  border-bottom: 1px solid #000000;
  /*border-radius: 4px;*/
  padding: 10px;
  height: 110px;
}
.rank-film-list img {
  float: left;
  width: 62px;
  height: 90px;
  margin: 0 10px;
}
.rank-film-list h3.title {
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  color: #6fd332;
  font-weight: 700;
  overflow: hidden;
  margin: 0;
}
.rank-film-list h3.title:hover{
  color: #fffd23;
}
.chapter_rank{
  color: white;
  display: block;
}
.item{
  border-bottom: #00B7FF;
}
.rank-film-list .item .viewed {
  color: #46e1ff;
}
.rank-film-list .item .viewed span {
  color: #46e1ff;
  font-size: 13px;
  line-height: 17px;
}
/*==============================ENDSIBAR LEFT THE MOST VIEW MOVIE=============================================*/

/*===========================================FOOTER MOVIE SITE===========================================================*/




/*==========================================END FOOTER MOVIE SITE===========================================================*/

/*=============================================RESPONSE MEDIA MOVIE==============================================*/
@media screen and (max-width: 990px) {
  .form-search{
    width: 320px !important;
  }
  .sibar_left{
    clear: both;
  }
}
@media screen and  (max-width: 767px){
  .form-search{
    width: 95%!important;
  }
  .brick{
    display: none !important;
  }
  .login{
    text-align: center !important;
  }
  .avatar{
    display: none;
  }
  .dropdown{
    text-align: center;
    margin: 5px;
  }
  .dropdown-menu{
    text-align: center !important;
  }
  .dropdown-menu span.use_ava:hover{
    background-color: black;
  }
  .User_login{margin-bottom: 10px}
  .sibar_left{
    display: none;
  }
}
@media (min-width: 768px){
  .row{
    margin-right: -10px !important;
    margin-left: -10px !important;
  }
  .User_login{
    margin: 10px;
  }
}
/*---------------------------------------------MEDIA INDEX-----------------------------*/
@media screen and (min-width: 992px) {
  .container{
    width: 1000px!important;
  }
  .col-md-8{
    width: 680px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .col-md-4{
    width: 320px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
@media (max-width: 800px) {
  ul.last_film_box{
    list-style-type: none !important;
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;
    -webkit-margin-start: 0 !important;
    -webkit-margin-end: 0 !important;
    -webkit-padding-start: 0 !important;
    padding: 0 !important;
  }
  .col-md-8{
    padding-right: 5px!important;
    padding-left: 5px!important;
  }
}
@media screen and (max-width: 991px){
  .page_single{
    width: 100% !important;
  }
}
@media screen and (max-width: 480px){
  .movie_info_box .movie_detail{
    width: 100%;
  }
   .movie_info_box .movie_title{
     position: static;
   }
   .movie_info_box .movie_meta_info{
     position: relative;
     width: auto;
     height: 214px;
     margin-left: 175px;
     margin-top: 0;
     overflow: auto;
   }
   .movie_info_box .movie_image{
     position: absolute;
     width: 160px;
     padding: 0;
     top: 50px;
     left: 10px;
     margin-left: 0;
   }

}
/*@media screen and (max-width: 420px){*/
  /*.movie_info_box .movie_image{*/
    /*top:80px !important;*/
  /*}*/
/*}*/

@media screen and (max-width:  700px){
  .movie_info_box .movie_detail{
    padding-left: 5px;
  }
}
 /*-------------------------------RESPONSI ACCORDING TO THE MEMBRANE----------------------------------*/
@media screen and (max-width: 640px) {
  .movie_list_index.home_v1 ul.last_film_box > li {
    width: 32% !important;
  }
}
@media screen and (max-width: 480px){
  .movie_list_index.home_v1 ul.last_film_box > li {
    width: 48%!important;
    margin: 2px!important;
  }
}