
{{> Admin_layout}}


<div class="col-xl-3 col-lg-6">
    <section class="card">
        <div class="twt-feed blue-bg">
            <div class="corner-ribon black-ribon">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="fa fa-twitter wtt-mark"></div>

            <div class="media">
                <a href="#">
                    <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="https://c1.staticflickr.com/6/5321/31834368992_0f0869f4ec_b.jpg">
                </a>
                <div class="media-body">
                    <h2 class="text-white display-6">
                        {{#ifCond member.roles "==" "ADMIN"}}
                            Administrator
                        {{/ifCond}}
                        {{#ifCond member.roles "==" "MEMBER"}}
                            Mod
                        {{/ifCond}}
                    </h2>
                    <p class="text-light">Project Manager</p>
                </div>
            </div>
        </div>
        <div class="weather-category twt-category">
            <ul>
                <li class="active">
                    <h5>750</h5>
                    Tweets
                </li>
                <li>
                    <h5>865</h5>
                    Following
                </li>
                <li>
                    <h5>3645</h5>
                    Followers
                </li>
            </ul>
        </div>
        <div class="twt-write col-sm-12">
            <textarea placeholder="Write your Tweet and Enter" rows="1" class="form-control t-text-area"></textarea>
        </div>
        <footer class="twt-footer">
            <a href="#"><i class="fa fa-camera"></i></a>
            <a href="#"><i class="fa fa-map-marker"></i></a>
            New Castle, UK
            <span class="pull-right">
                            32
                        </span>
        </footer>
    </section>
</div>
<div class="col-xl-3 col-lg-6">
    <div class="card">
        <div class="card-body">
            <div class="stat-widget-one">
                <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                <div class="stat-content dib">
                    <div class="stat-text">Total Profit</div>
                    <div class="stat-digit">1,012</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-3 col-lg-6">
    <div class="card">
        <div class="card-body">
            <div class="stat-widget-one">
                <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                <div class="stat-content dib">
                    <div class="stat-text">New Customer</div>
                    <div class="stat-digit">961</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-3 col-lg-6">
    <div class="card">
        <div class="card-body">
            <div class="stat-widget-one">
                <div class="stat-icon dib"><i class="ti-layout-grid2 text-warning border-warning"></i></div>
                <div class="stat-content dib">
                    <div class="stat-text">Active Projects</div>
                    <div class="stat-digit">770</div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> Admin_footer}}