<!Doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://www.gameprivate.com.vn/styles/default/xenforo/favicon.png" rel="shortcut icon" type="image/x-icon" />
    {{> Admin_plugins}}
    <title>{{settings.siteAdmin}} | {{pageTitle}}</title>
</head>
<body>
<aside id="left-panel" class="left-panel">
{{> Admin_sibar}}
</aside>
<div id="right-panel" class="right-panel">
    {{> Admin_header}}