<!Doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://www.gameprivate.com.vn/styles/default/xenforo/favicon.png" rel="shortcut icon" type="image/x-icon" />
    {{> Admin_plugins}}
    <title>{{settings.siteAdmin}} | {{pageTitle}}</title>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <!--<script>-->
        <!--var socket = io('http://localhost:5000');-->
        <!--socket.on('news', function (data) {-->
            <!--console.log(data);-->
            <!--// socket.emit('my other event', { my: 'data' });-->
        <!--});-->
    <!--</script>-->

    <script src="/adminStyle/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

    <!--<script type="text/javascript">-->
        <!--$(document).ready(function(){-->
            <!--$("#fetchData").change(function() {-->
                <!--console.log('chay');-->
                <!--var socket = io('http://localhost:5000');-->
                <!--socket.emit('news', '1');-->
                <!--console.log('gui di');-->
            <!--});-->

            <!--// var socket = io('http://localhost:5000');-->
            <!--// socket.on('news', function (data) {-->
            <!--//     console.log("ket noi: "+data);-->
            <!--// });-->
        <!--});-->
    <!--</script>-->
</head>
<body>
<aside id="left-panel" class="left-panel">
{{> Admin_sibar}}
</aside>
<div id="right-panel" class="right-panel">
    {{> Admin_header}}