
<div class="footer">
    <div class="container">
        <div class="bar">
            <div class="bar_wrap">
                <ul class="link">
                    <li>
                        <a href="">Home</a>
                    </li>
                </ul>
                <div class="social">
                    <span class="info">
                        <span class="follow">FANPAGE FACEBOOK</span>
                    </span>
                </div>
                <div class="clear"></div>
                <div class="copyright">© 2018 All Rights Reserved</div>
            </div>
        </div>
    </div>
</div>