
<script>
    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:5000/API/202cb962ac59075b964b07152d234b70',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var outt = '';
                var j;
                for (j = 0;j < data.length; j++){
                    outt += '<li><a href="/phim/'+ data[j].year_id +'">' +
                            data[j].year_name + '</a></li>';
                }
                document.getElementById("yearType").innerHTML = outt;
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
            $.ajax({
                url: 'http://localhost:5000/API/f5bb0c8de146c67b44babbf4e6584cc0',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var out = '';
                    var i;
                    for (i = 0; i < data.length; i++) {
                        out += '<li><a href="/phim/' + data[i].cat_name_ascii + '">' +
                                data[i].cat_name_title + '</a></li>';
                    }
                    document.getElementById("categoryType").innerHTML = out;
                }
            });
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<!--<script>-->
    <!--var socket = io('http://localhost:5000');-->
    <!--socket.on('news', function (data) {-->
        <!--console.log("thong bao: "+data);-->
        <!--// socket.emit('my other event', { my: 'data' });-->
    <!--});-->
<!--</script>-->
<script>
    var socket = io('http://localhost:5000');
    $(document).ready(function () {
        socket.emit("ID_User",$("#IdUser").val());
    });
</script>

<header>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WebSiteName</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-center">
                <div class="form-search">
                    <form method="GET" id="form-search" action="tim-kiem/">
                        <input type="text" class="search-query form-control" placeholder="Search" />
                    </form>
                </div>
            </ul>
            <ul class="nav navbar-nav navbar-right option-type">
                {{#if logged}}
                <li>
                    <div class="notification">
                        <div class="dropdown">
                            <a class="notifi_mess" id="dLabel" role="button" data-toggle="dropdown">
                                <i class="fa fa-bell" style="font-size:16px; color: white;"></i>
                                <i id="Notifi_mes"></i>
                            </a>
                            <ul class="dropdown-menu notifications" style="top: 34px;">
                                <div class="notification-heading">
                                    <h4 class="menu-title">Thông báo</h4>
                                </div>
                                <li class="divider"></li>
                                <div class="notifications-wrapper">

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <ul class="notifi_detail">
                                                <li class="img-notifi">
                                                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar_notifi">
                                                </li>
                                                <li>
                                                    <h4 class="item-title">Phim <b>Huyền thoại</b> có một tập mới</h4>
                                                    <h4 class="item_time">Vào lúc 4 giờ trước</h4>
                                                </li>
                                            </ul>
                                        </div>
                                    </a>

                                </div>
                                <li class="divider"></li>
                                <div class="notification-footer">
                                    <a href="">
                                        <h4 class="menu-title-footer">Xem tất cả</h4>
                                    </a>
                                </div>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="User_login">
                            <div class="dropdown">
                                <div data-toggle="dropdown">
                                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
                                    <span class="use_ava">{{member.local.email}}</span>
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a href="/thanh-vien/tai-khoan"><span class="glyphicon glyphicon-user"></span> Cá nhân <span class="badge">2</span></a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Cài đặt</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/thanh-vien/thoat"><span class="glyphicon glyphicon-off"></span> Thoát</a></li>
                                </ul>
                            </div>
                    </div>
                </li>
                    <input type="text" id="IdUser" value="{{member._id}}" hidden>
                {{else}}
                    <li><a href="/thanh-vien/dang-nhap" class="login">Đăng nhập</a></li>
                    <li class="brick"><a>|</a></li>
                    <li><a href="/thanh-vien/dang-ky" class="login">Đăng ký</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
</header>
<div class="clear"></div>
<div id="menu">
    <ul>
        <li><a href="/">Trang chủ</a></li>
        <li><a href="#">Thể loại</a>
            <ul class="sub-menu" id="categoryType">
                <li>a</li>
                <li>b</li>
            </ul>
        </li>
        <li><a href="#">Theo năm</a>
            <ul class="sub-menu" id="yearType">
            </ul>
        </li>
        <li><a href="#">Lịch chiếu phim</a></li>
        <li><a href="#">Tin tức</a></li>
        <li><a href="#">Diễn đàn</a></li>
    </ul>
</div>
