<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>
    var socket = io('http://localhost:5000');
    $(document).ready(function () {
        if(document.getElementById("IdUser") != null) {
            var idUser = document.getElementById("IdUser").value;
            socket.emit('isUser', idUser);
            socket.on('news', function (data) {
                console.log(data);
                $("#NotiCationTrue").html('<div class="alert alert-message alert-message-info col-md-4 col-sm-4 notifi"><a href="#" class="close" data-dismiss="alert" aria-label="close">×</a><div class="notifi_detail row"><div class="img-notifi col-md-3 col-sm-3"><img src="/images/image_avatar/' + data[0].episode_avatar + '" alt="Avatar" class="avatar_notifi"></div><div class="col-md-9 col-sm-9"><h4 class="item-title">Phim <b>' + data[0].episode_name + '</b> bạn theo dõi đã có tâp' + data[0].id + '</h4> </div> </div></div>');
            });
        }
    });
</script>
<div id="NotiCationTrue"></div>
<header>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" id="button-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">WebSiteName</a>
            </div>
            <div class="collapse navbar-collapse navbarRespon" id="myNavbar">
                <ul class="nav navbar-nav navbar-center">
                    <div class="form-search">
                        <form method="GET" id="form-search" action="">
                            <div class="navbar-search">
                                <div class="search-box">
                                    <input type="text" name="search-box" placeholder="Tìm kiếm movie">
                                    <i class="glyphicon glyphicon-search"></i>
                                </div>
                                <div class="search-result" id="search-result">
                                    <div class="result-body ps-container ps-theme-default ps-active-y" style="height: 697px">
                                        <div class="result-item">
                                            <a href="">
                                                <div class="result-item-thumbnail">
                                                    <img src="https://i.imacdn.com/vg/2015/05/mo-dom-dom-large-1432284976.jpg">
                                                </div>
                                                <div class="result-item-meta">
                                                    <div class="result-item-title">Grave of the Fireflies </div>
                                                    <div class="result-item-time">88 phút</div>
                                                    <div class="result-item-views">92,468 lượt xem</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </ul>
                <ul class="nav navbar-nav navbar-right option-type">
                    {{#if logged}}
                        <li id="notiMess">
                            <div class="notification">
                                <div class="dropdown">
                                    <a class="notifi_mess" id="dLabel" role="button" data-toggle="dropdown">
                                        <i class="fa fa-bell" style="font-size:16px; color: white;position: relative">
                                            <div id="Notifi_mes"></div>
                                        </i>
                                    </a>
                                    <ul class="dropdown-menu notifications" style="top: 34px;box-shadow: 0 0 5px #999;">
                                        <div class="notification-heading">
                                            <h4 class="menu-title">Thông báo</h4>
                                        </div>
                                        <li class="divider"></li>
                                        <div class="notifications-wrapper">

                                            <div id="NotifiUser"></div>

                                        </div>
                                        <li class="divider"></li>
                                        <div class="notification-footer">
                                            <a href="">
                                                <h4 class="menu-title-footer">Xem tất cả</h4>
                                            </a>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="User_login">
                                <div class="dropdown">
                                    <div data-toggle="dropdown">
                                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
                                        <span class="use_ava">{{member.local.email}}</span>
                                    </div>
                                    <ul class="dropdown-menu">
                                        <li><a href="/thanh-vien/tai-khoan"><span class="glyphicon glyphicon-user"></span> Cá nhân <span class="badge">2</span></a></li>
                                        <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Cài đặt</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/thanh-vien/thoat"><span class="glyphicon glyphicon-off"></span> Thoát</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <input type="text" id="IdUser" value="{{member._id}}" hidden>
                    {{else}}
                        <li><a href="/thanh-vien/dang-nhap" class="login">Đăng nhập</a></li>
                        <li class="brick"><a>|</a></li>
                        <li><a href="/thanh-vien/dang-ky" class="login">Đăng ký</a></li>
                    {{/if}}
                </ul>
            </div>
            <!--NAVBAR RESPONSE -->
            <div class="navbar-left" id="active-nav">
                <div class="navbar-search" style="margin: 30px 0;">
                    <div class="search-box">
                        <input type="text" name="search-box" placeholder="Tìm kiếm phim">
                        <i class="glyphicon glyphicon-search"></i>
                    </div>
                    <div class="search-result" id="searchFirst">
                        <div class="result-body ps-container ps-theme-default" data-ps-id="0cf0b0c0-2ca3-e2ad-ffa4-8d15c1dd8730" style="height: 823px;">
                            <div class="result-body ps-container ps-theme-default ps-active-y" style="height: 697px">
                                <div class="result-item">
                                    <a href="">
                                        <div class="result-item-thumbnail">
                                            <img src="https://i.imacdn.com/vg/2015/05/mo-dom-dom-large-1432284976.jpg">
                                        </div>
                                        <div class="result-item-meta">
                                            <div class="result-item-title">Grave of the Fireflies </div>
                                            <div class="result-item-time">88 phút</div>
                                            <div class="result-item-views">92,468 lượt xem</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">-->
                                <!--<div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;">-->

                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;">-->
                                <!--<div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;">-->

                                <!--</div>-->
                            <!--</div>-->
                        </div>
                        <div class="result-noitem hidden"></div>
                        <div class="loading hidden"></div>
                    </div>
                </div>
                {{#if logged}}
                <div class="navbar-menu">
                    <a href="/thanh-vien/tai-khoan" class="navbar-menu-item">
                        <span class="glyphicon glyphicon-user"></span> Cá nhân <span class="badge">2</span>
                    </a>
                    <a href="#" class="navbar-menu-item"><span class="glyphicon glyphicon-cog"></span> Cài đặt</a>
                    <a href="/thanh-vien/thoat" class="navbar-menu-item">
                        <span class="glyphicon glyphicon-off"></span> Thoát
                    </a>
                </div>
                {{else}}
                <div class="navbar-menu">
                    <a href="/thanh-vien/dang-nhap" class="navbar-menu-item">Đăng nhập</a>
                    <a href="/thanh-vien/dang-ky" class="navbar-menu-item">Đăng ký</a>
                </div>
                {{/if}}
                <div class="navbar-brand">
                    <a href="/" class="logo">
                        <img src="" alt="WEBSITE TEST">
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="clear"></div>
<div id="menu">
    <ul>
        <li><a href="/">Trang chủ</a></li>
        <li><a href="#">Thể loại</a>
            <ul class="sub-menu" id="categoryType">
                <li>a</li>
                <li>b</li>
            </ul>
        </li>
        <li><a href="#">Theo năm</a>
            <ul class="sub-menu" id="yearType">
            </ul>
        </li>
        <li><a href="#">Lịch chiếu phim</a></li>
        <li><a href="#">Tin tức</a></li>
        <li><a href="#">Diễn đàn</a></li>
    </ul>
</div>
