<div class="index-left"></div>
<div class="title_rank"><i class="glyphicon glyphicon-film"></i> Xem Nhiều Trong Ngày</div>
<div class="list_rank_movie">
    <ul class="rank-film-list">
        <li class="item">
            <a href="#">
                <img width="" class="thumb img-rounded img-responsive" src="http://image.phimmoi.net/film/6861/poster.medium.jpg" alt="Boku no Hero Academia 3rd Season - My Hero Academia 3">

                <h3 class="title">CUỘC CHIẾN BỈM SỮA</h3>
                <div>
                    <span class="chapter_rank">19/25 Tập</span>
                </div>
                <div>
                    <span class="viewed"><span>Lượt xem:</span> 4,037</span>
                </div>

            </a>
        </li>
        <li class="item">
            <a href="#">
                <img width="" class="thumb lazyload img-responsive" src="http://image.phimmoi.net/film/7022/poster.medium.jpg" alt="Boku no Hero Academia 3rd Season - My Hero Academia 3">
                <h3 class="title">VENOM</h3>
                <div>
                    <span class="chapter_rank">19/25 Tập</span>
                </div>
                <div>
                    <span class="viewed"><span>Lượt xem:</span> 4,037</span>
                </div>

            </a>
        </li>
    </ul>
</div>