{{> Admin_layout}}
<script src="/adminStyle/assets/js/vendor/jquery-2.1.4.min.js"></script>
<style>
    ul{list-style-type: none;}
    li{list-style: none;float: left;margin: 5px}
</style>
<script>
    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:5000/API/c5e549a0721069a573eeaba1677ce508',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var outt = '';
                for(var i = 0;i<data.length;i++){
                    outt += '<tr><th scope="row">#</th><td>'+data[i].episode_id+'</td><td style="font-weight: bold">'+data[i].episode_name+'</td><td>'+data[i].episode_film+'</td><td>'+data[i].episode_info.substring(0, 40)+'...'+'</td><td>'+data[i].episode_hide+'</td><td style="text-align: center;width: 10%"><ul><li><a href="/admin/editMovie/'+data[i].episode_name_ascii+'/'+data[i].episode_id+'"><i class="fa fa-pencil"></i></a></li><li><a onclick="return confirm(\'Bạn có chắc muốn xóa\')" href="/admin/deleteMovie/'+data[i]._id+'"><i class="fa fa-trash-o"></i></a></li></ul></td><td><a href="/admin/chapter/'+data[i].episode_id+'/'+data[i]._id+'"><button type="button" class="btn btn-outline-success btn-sm"><i class="fa fa-upload"></i>&nbsp; Thêm tập</button></a></td></tr>'
                }
                document.getElementById("list").innerHTML = outt;
            }
        });
    });
</script>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Danh Sách Phim</strong>
            <a href="/admin/addMovie">
                <button type="button" class="btn btn-success btn-sm" style="float: right">
                    <i class="fa fa-plus"></i>
                </button>
            </a>
        </div>
        {{#if err }}
            <div class="alert alert-danger" role="alert" style="margin: 5px">
                <li>{{ err }}</li>
            </div>
        {{/if}}
        {{#if success }}
            <div class="alert alert-success" role="alert" style="margin: 5px">
                <li>{{ success }}</li>
            </div>
        {{/if}}
        <div class="card-body" style="overflow: auto">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col"><i class="fa fa-list"></i></th>
                    <th scope="col">ID Phim</th>
                    <th scope="col">Tên phim</th>
                    <th scope="col">Số tập</th>
                    <th scope="col">Nội dung</th>
                    <th scope="col">Trạng thái</th>
                    <th>Tuỳ chọn</th>
                    <th>Thêm phim</th>
                </tr>
                </thead>
                <tbody id="list">
                </tbody>
            </table>
        </div>
    </div>
</div>
{{> Admin_footer}}