<script type="text/javascript" charset="utf-8" async="" src="http://ssl.p.jwpcdn.com/player/v/7.8.7/provider.html5.js"></script>
<script>window.HELP_IMPROVE_VIDEOJS = false;</script>
<div class="col-md-8 col-sm-12 col-xs-12">
        <div class="back_view_details page_details">
            <div class="info_details">
                <div class="title_details">
                    <h1 class="h1_title_details">{{name}} | Tập <span id="chapter_number"></span> </h1>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="body_style"></div>
                        <div class="movie_meta_info">
                            <div class="info_nd">
                                <div class="jw-video jw-reset">
                                    <video height="450" id="player" class="jw-video jw-reset"></video>
                                </div>
                            </div>
                            <!--<video loop autoplay controls="true" width='100%' height='100%' src='https://video.xx.fbcdn.net/v/t42.9040-2/10000000_2044691669193429_2712328304769105920_n.mp4?_nc_cat=0&efg=eyJybHIiOjE1MDAsInJsYSI6NDA5NiwidmVuY29kZV90YWciOiJzdmVfaGQifQ%3D%3D&rl=1500&vabr=604&oh=5d3583c2c3c25d8c8731f356aba33bc2&oe=5B9B9CFE' type='video/mp4'></video>-->
                        </div>
                        <div class="play_actions">
                            <ul class="list-inline">
                                <li><a id="" class="previous_ep_btn">
                                    <span class="glyphicon glyphicon-step-forward"></span> Tập Trước.</a>
                                </li>
                                <li><a href="" class="next_ep_btn">
                                    <span class="glyphicon glyphicon-step-backward"></span> Tập Tiếp Theo.</a>
                                </li>
                                <li>
                                    <a href="" class="next_ep_btn">
                                        <span class="glyphicon glyphicon-plus"></span> Theo Dõi.
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="movie_meta_info">
                            <div class="info_nd" id="chapNum">
                                {{#each viewEpi}}
                                    <button type="button" value="{{this.id}}" onClick="reply_click(this.id)" class="btn btn-success btn-xs IdMovie">{{this.num}}</button>&nbsp
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">{{> rank_left}}</div>
    <input type="text" id="data_movie" value="{{chapterone}}" hidden>
</div>
<script type="text/javascript" src="/jwplayer-7.12.1/jwplayer.js?v1"></script>
<script type="text/javascript">jwplayer.key="dWwDdbLI0ul1clbtlw+4/UHPxlYmLoE9Ii9QEw==";</script>

<script>
    var arrid = document.getElementById("data_movie").value;
    var arr = JSON.parse(arrid);
    var id = arr.id;
    var data = {id};
    $.ajax({
        type:'POST',
        data: JSON.stringify(data),
        contentType: 'application/json',
        url: 'http://localhost:5000/API/endpoint',
        success:function (data) {
            // console.log('success'+ data);
            document.getElementById("chapter_number").innerHTML = data.chapter_num;
            // console.log("a "+data.chapter_id);
            var player = jwplayer('player').setup({
                file: data.chapter_url,
                type: 'mp4',
                width: '100%',
                height: 470,
                autostart: 'true',
            });
            var bumpIt = () => {
                var vol = player.getVolume();
                player.setVolume(vol + 10);
            }
            bumpIt();
        }
    });


    //create ID number chapter
    var idNum = document.querySelectorAll('.IdMovie');
    for (var i = 0; i < idNum.length; i++)
         idNum[i].id = 'ID' + i;
    //click get id client send id to server
    function reply_click(clicked_id) {

        var id = document.getElementById(clicked_id).value;
        var data = {id};
        // console.log("DATA: "+data.id);
        $.ajax({
            type:'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: 'http://localhost:5000/API/endpoint',
            success:function (data) {
                // console.log('success'+ data);
                document.getElementById("chapter_number").innerHTML = data.chapter_num;
                // console.log("a "+data.chapter_id);
                var player = jwplayer('player').setup({
                    file: data.chapter_url,
                    width: '100%',
                    height: 470,
                    autostart: 'true'
                });
                var bumpIt = () => {
                    var vol = player.getVolume();
                    player.setVolume(vol + 10);
                }
                bumpIt();
            }
        });
    }
    // Listen to an event
    // player.on('pause', (event) => {
    //     alert('Why did my user pause their video instead of watching it?');
    // });

</script>