
<div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="back_view_details page_details">
            <div class="info_details">
                <div class="title_details">
                    <h1 class="h1_title_details">{{name}}</h1>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="body_style"></div>
                        <div class="movie_meta_info">
                            <div class="info_nd">
                                <div class="jw-video jw-reset">
                                    <video height="450" id="player" class="jw-video jw-reset"></video>
                                </div>
                            </div>
                        </div>
                        <div class="play_actions">
                            <ul class="list-inline">
                                <li><a href="" id="" class="previous_ep_btn">
                                    <span class="glyphicon glyphicon-step-forward"></span> Tập Trước.</a>
                                </li>
                                <li><a href="" class="next_ep_btn">
                                    <span class="glyphicon glyphicon-step-backward"></span> Tập Tiếp Theo.</a>
                                </li>
                                <li>
                                    <a href="" class="next_ep_btn">
                                        <span class="glyphicon glyphicon-plus"></span> Theo Dõi.
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="movie_meta_info">
                            <div class="info_nd" id="chapNum">
                                {{#each viewEpi}}
                                    <button type="button" value="{{this.id}}" onClick="reply_click(this.id)" class="btn btn-success btn-xs IdMovie">{{this.num}}</button>&nbsp
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">{{> rank_left}}</div>
</div>
<script type="text/javascript" src="/jwplayer-7.12.1/jwplayer.js?v1"></script>
<script type="text/javascript">jwplayer.key="dWwDdbLI0ul1clbtlw+4/UHPxlYmLoE9Ii9QEw==";</script>
<script>
    jQuery(window).load(function (reply_click) {

    });
    //create ID number chapter
    var idNum = document.querySelectorAll('.IdMovie');
    for (var i = 0; i < idNum.length; i++)
         idNum[i].id = 'ID' + i;
    //click get id client send id to server
    function reply_click(clicked_id) {
        console.log('Da click'+ clicked_id);
        var id = document.getElementById(clicked_id).value;
        var data = {id};
        $.ajax({
            type:'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: 'http://localhost:5000/API/endpoint',
            success:function (data) {
                console.log('success'+ data);

                console.log("a "+data.chapter_id);
                var player = jwplayer('player').setup({
                    file: data.chapter_url,
                    width: '100%',
                    height: 470,
                    autostart: 'true'
                });
                var bumpIt = () => {
                    var vol = player.getVolume();
                    player.setVolume(vol + 10);
                }
                bumpIt();
            }
        });
    }
    // Listen to an event
    // player.on('pause', (event) => {
    //     alert('Why did my user pause their video instead of watching it?');
    // });

</script>